{% extends 'base.html' %}

{% block title  %}Create A New Blog Post!{% endblock  %}
{% block content  %}

<h1>Add Blog Post</h1>
<div class ="form-group">
<form method="POST">
    <br/><br/>
    {% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
    </div>
    <div class="text-right">
      <button class="btn btn-success">Post</button>
 
      <a href="{% url 'home'  %}" class="btn btn-secondary">Back</a>
    </div>
</div>
  </form>
  
   
    
{% endblock  %}